<form action=" {% url 'movie_details' movie.slug %}" name="sentMessage" method='POST' novalidate >
    {% comment %} {{ comment_form}} {% endcomment %}
      {% csrf_token %}
      <div class="row">
          <div class="control-group form-group col-lg-4 col-md-4">
              <div class="controls">
                  {{ comment_form.full_name.errors }}
                  <label for={{comment_form.full_name.id_for_label}} >{{comment_form.full_name.label}}<span class="text-danger">*</span></label>
                  {{ comment_form.full_name }}
              </div>
          </div>
          <div class="control-group form-group col-lg-4 col-md-4">
              <div class="controls">
                  {{ comment_form.email.errors }}
                  <label for={{comment_form.email.id_for_label}} >{{comment_form.email.label}} <span class="text-danger">*</span></label>
                  {{ comment_form.email }}
              </div>
          </div>
          <div class="control-group form-group col-lg-4 col-md-4">
              <div class="controls">
                  {{ comment_form.ratting.errors }}
                  <label for={{comment_form.ratting.id_for_label}} >{{ comment_form.ratting.label }} <span class="text-danger">*</span></label>
                  {{ comment_form.ratting }}
              </div>
          </div>
      </div>
  <div class="control-group form-group">
      <div class="controls">
          {{ comment_form.text.errors }}
          <label for={{comment_form.text.id_for_label}}> {{comment_form.text.label}} <span class="text-danger">*</span></label>
          {{ comment_form.text }}
      </div>
  </div>
      <div class="text-right">
          <button type="submit" class="btn btn-primary">Send Message</button>
      </div>
  </form>